@import 'tailwindcss';

@plugin 'tailwind-scrollbar-hide';

@custom-variant dark (&:is(.dark *));
@theme {
    --color-primary: rgb(195, 0, 42);
    --color-black: #333333;
    --color-gray: #666666;
}
@keyframes phoneRing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(20deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(8deg);
    }
    60% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.animate-phoneRing {
    animation: phoneRing 0.7s infinite linear;
}

.swiper-pagination-bullet {
    background-color: var(--color-primary) !important;
    width: 1rem !important;
    height: 1rem !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-primary) !important;
}

* {
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(195, 0, 42);
    --color-white: #ffffff;
    --color-black: #333333;
    --highlight: oklch(0.852 0.199 91.936);
    --brand: oklch(0.623 0.214 259.815);
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: #f1f5f9;
}

input {
    background-color: transparent;
}

li {
    text-decoration: none;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}

.slate-editable p {
    line-height: 1.4;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.dark {
    --highlight: oklch(0.852 0.199 91.936);
    --brand: oklch(0.707 0.165 254.624);
}

@theme inline {
    --color-highlight: var(--highlight);
    --color-brand: var(--brand);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
} */
