.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    min-width: 375px;
    height: 100%;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 8rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    width: 20rem;
}
